.Rproj*
.Rhistory
.RData
ignore
output
.DS_Store
.remake
*.html
talk.md
talk.pdf
output/*
figure/*
#ms/Accessory/Wenk-Accessory-SI.tex
ms/Accessory/Wenk-Accessory-SI.pdf
ms/Accessory/figures/
ms/Accessory/output/
ms/plant_maps/full
~*.doc*
*.whisker
./bootstrap
# LaTeX #
#########
*.aux
*.bbl
*.blg
*.dvi
*.fff
*.lof
*.lot
*.out
*.toc
*.ttt
*.log
*.gz
